node_modules
npm-debug.log
dist
.git
.gitignore
*.md
cd /Users/kmpsdeveloper/Desktop/Proyectos/SOS-X/entregax-mobile-app/ios
pod install
open entregaxMobileApp.xcworkspace   # o el nombre real del .xcworkspace.local
.env.development
uploads/*
!uploads/.gitkeep
